@import "../theme.scss";

.container-card {
	max-width: 425px;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;

	.card-footer--title {
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.6rem;
		color: $font-color-2;
	}

	.card-footer--price {
		font-size: 1.6rem;
		color: $font-color-3;
	}

	@include sm {
		min-width: 310px;
		width: 49%;
		max-width: 410px;
	}

	@include md {
		min-width: 310px;
		width: 49%;
		max-width: 410px;
	}

	@include xl {
		min-width: 280px;
		width: 31%;
		max-width: 410px;
	}
}
