@import "./theme.scss";

header {
	.nav {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 15px;
		background-color: $bg-color-1;
		box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);

		&-section {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 5px;
			cursor: pointer;

			.basket {
				margin-left: 8px;
			}

			&:hover {
				background-color: $bg-color-2;
			}
		}

		&-anchor {
			padding: 25px 0;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.6rem;
			text-decoration: none;
			color: $font-color-2;
			text-align: center;
		}
	}
}
